{
  "openapi": "3.0.0",
  "info": {
    "title": "Octane REST API Collections",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://almoctane-ams.saas.microfocus.com"
    }
  ],
  "paths": {
    "/authentication/sign_in": {
      "parameters": [],
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Sign in with client_id and secret",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/sign_out": {
      "parameters": [],
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Sign-out",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/epics": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all epics",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of epics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/features": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all features",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of features",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/stories": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all user stories",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "test",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of user stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/quality_stories": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all quality stories",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of quality stories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/defects": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all defects",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of defects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "severity": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/defects/{defect_id}": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get defect by ID",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defect_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "analysis_udf",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Defect retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "analysis_udf": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Defect not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/tasks": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all tasks",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/work_items": {
      "get": {
        "tags": [
          "backlog Items"
        ],
        "summary": "Get all work items by subtype",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "subtype, name, phase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work items retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "subtype": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "phase": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/tests/{manual_test_id}/script": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get test script",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manual_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test script retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "script": {
                      "type": "string"
                    },
                    "last_modified": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/manual_tests": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get all manual tests",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description,covered_requirement",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manual tests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "covered_requirement": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/tests/{gherkin_test_id}/script": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get Gherkin test script",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gherkin_test_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gherkin test script retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "script": {
                      "type": "string"
                    },
                    "last_modified": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Test not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/gherkin_tests": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get all Gherkin tests",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gherkin tests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/automated_tests": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get all automated tests",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Automated tests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/test_suite_link_to_tests": {
      "get": {
        "tags": [
          "test_suites"
        ],
        "summary": "Get all tests within a test suite",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "test_suite,test",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "example": "\"test_suite EQ {id EQ 12345}\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tests linked to the test suite retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "test_suite": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "test": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/test_suites": {
      "get": {
        "tags": [
          "test_suites"
        ],
        "summary": "Get all test suites",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test suites retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/test_versions": {
      "get": {
        "tags": [
          "test_versions"
        ],
        "summary": "Get all test versions with all system fields",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "client_lock_stamp,comment,creation_time,creator,id,is_external,last_modified,name,releases,script,test,version_stamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test versions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "version_stamp": {
                        "type": "integer"
                      },
                      "creation_time": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "last_modified": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "creator": {
                        "type": "string"
                      },
                      "comment": {
                        "type": "string"
                      },
                      "client_lock_stamp": {
                        "type": "integer"
                      },
                      "is_external": {
                        "type": "boolean"
                      },
                      "releases": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "script": {
                        "type": "string"
                      },
                      "test": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/tests": {
      "get": {
        "tags": [
          "tests"
        ],
        "summary": "Get all tests",
        "description": "Retrieve all test entities from the specified workspace within a shared space. Supports optional field selection and tech preview features.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response",
            "example": "subtype,name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "subtype": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/application_modules": {
      "get": {
        "tags": [
          "application_modules"
        ],
        "summary": "Get application modules filtered by parent name",
        "description": "Retrieve application modules from the specified workspace, optionally filtered by parent name using a query expression.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query expression to filter modules by parent name",
            "example": "\"parent EQ {name EQ ^Procure to Pay *^}\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response",
            "example": "name,description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of application modules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "parent": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/releases": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all releases",
        "description": "Retrieve all release entities from the specified workspace within a shared space.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of releases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/sprints": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all sprints",
        "description": "Retrieve all sprint entities from the specified workspace within a shared space.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "description": "Optional tech preview flag",
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sprints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "release": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/milestones": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all milestones",
        "description": "Retrieve all milestone entities from the specified workspace within a shared space.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "description": "Optional tech preview flag",
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/planning_info": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all objectives",
        "description": "Retrieve all planning objectives from the specified workspace within a shared space.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "description": "Optional tech preview flag",
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of planning objectives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/programs": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all programs",
        "description": "Retrieve all program entities from the specified workspace within a shared space. Supports optional field selection and tech preview features.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response",
            "example": "client_lock_stamp,creation_time,id,last_modified,name,version_stamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "description": "Optional tech preview flag",
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "creation_time": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "last_modified": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "client_lock_stamp": {
                        "type": "integer"
                      },
                      "version_stamp": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Workspace or shared space not found"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/processes": {
      "get": {
        "tags": [
          "management"
        ],
        "summary": "Get all processes",
        "description": "Retrieve all process entities from the specified workspace.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "description": "ID of the shared space",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "description": "ID of the workspace",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "description": "Optional tech preview flag",
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HPECLIENTTYPE",
            "in": "header",
            "required": false,
            "description": "Client type identifier",
            "example": "HPE_MQM_UI",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of processes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/suite_run": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all suite runs",
        "description": "Retrieve all suite run entities from the specified workspace.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of suite runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "started": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/manual_runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all manual runs",
        "description": "Retrieve all manual test run entities from the specified workspace.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of manual runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "test_id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/automated_runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all automated runs",
        "description": "Retrieve all automated test run entities from the specified workspace.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of automated runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "test_id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/gherkin_automated_runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all Gherkin automated runs",
        "description": "Retrieve all Gherkin-based automated test runs from the specified workspace.",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "example": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Gherkin automated runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "feature": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/run_steps": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all run steps of a manual run",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "example": "\"run EQ {id EQ ^7005^}\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "description,result",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run steps retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/runs": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get all runs",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/ci_servers": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get all CI servers",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CI servers retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/ci_servers/configured": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get all connected CI servers",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected CI servers retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/pipelines": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get all pipelines",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name,author,creation_time,ci_server",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ALM-OCTANE-TECH-PREVIEW",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipelines retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/ci_jobs": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get CI job IDs",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "example": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HPECLIENTTYPE",
            "in": "header",
            "required": false,
            "example": "HPE_MQM_UI",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 2000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of items to skip before starting to collect the result set",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Field to sort by (e.g., id, name)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CI jobs retrieved successfully"
          }
        }
      }
    },
    "/api/shared_spaces/{shared_space}/workspaces/{workspace}/ci_builds/{ci_build_id}": {
      "get": {
        "tags": [
          "pipelines"
        ],
        "summary": "Get a single CI build",
        "parameters": [
          {
            "name": "shared_space",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ci_build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
[...]
